<div class="gallery_wrap">
	<div class="slider-wrap">
		<h1>Categories</h1>
		{% set p = page.find('/gallery') %}
			<div class="gallery-tile">
				<a href="{{p.url}}">
					<div class="category-image">
						<img src="{{ base_url }}/gallery/{{p.header.mainpic}}">
					</div> 
				</a>
				<div class="category-info">
					<h2>All</h2>
				</div>
			</div>
		{% for p in page.find('/gallery').children if p != page %}
			<div class="gallery-tile">
				<a href="{{p.url}}">
					<div class="category-image">
						<img src="{{ base_url }}/gallery/{{p.title}}/{{p.header.mainpic}}">
					</div>
				</a>
				<div class="category-info">
					<h2>{{p.title}}</h2>
				</div>
			</div>
		{% endfor %}

	</div>
</div>